<% form_for(:project, :url => {:controller => 'searches', :action => 'search'}) do |f| %>
  <div class="auto_complete" id="project_name_auto_complete"></div>
    <%= text_field_with_auto_complete :project, :name %>
    <p><%= submit_tag "Search" %> </p>
<% end %>
