<div class="block">
<h3>Tags</h3>
<div class="content">
<ul>
<% @tags = Project.tag_counts %>
<% tag_cloud @tags, %w(tag1 tag2 tag3 tag4) do |tag, css_class| %>
<%= link_to tag.name, { :action => :tag, :id =>
    tag.name }, :class => css_class %>
    <% end %>
</ul>

</div>
</div>

<div class="search">
<h3>Search</h3>
<%= render (:partial => "/shared/search_like_google_projects.html.erb") %>
</div>

